    body {
        background-color: #6c697d;
    }

    h1 {
        background-color: #d1040b;
        margin: 5px;
        padding: 15px;
        border: 10px black solid;
        display: flex;
        justify-content: space-around;
    }

    .About {
        font-family: 'Oswald', sans-serif;
        color: red;
        margin: 5px;
        padding: 15px;
        border: 10px black solid;
        display: flex;
        justify-content: space-around;
    }

    .Facts {
        font-family: 'Syne Mono', monospace;
        color: red;
        margin: 5px;
        padding: 15px;
        border: 10px black solid;
        display: flex;
        justify-content: center;
    }

    img {
        height: 500px;
        margin: 5px;
        padding: 8px;
        border: 10px black solid;
        display: flex;
        justify-content: center;
    }

    .images {
        background-color: tomato;
    }

    .about {
        border: 4mm ridge rgba(250, 2, 0, .6);
        margin: 58px;
        padding: 25px;
        text-align: center;
    }

    .fun {
        border: 4mm ridge rgba(250, 2, 0, .6);
        margin: 58px;
        padding: 25px;
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .myButton {
        box-shadow: 3px 4px 0px 0px #8a2a21;
        background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
        background-color: #e62d1f;
        border-radius: 18px;
        border: 1px solid #d02718;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 7px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #810e05;
    }

    .myButton:hover {
        background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        background-color: #f24437;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

    .button {
        display: flex;
        justify-content: center;
    }